<div class="container mt-4">
  <h1>Edit Subscriber</h1>
  
  <%= render 'form', subscriber: @subscriber %>
  
  <div class="mt-3">
    <%= link_to "â† Back to Subscribers", admin_subscribers_path, class: "btn btn-secondary" %>
  </div>
</div>
