<div class="container mt-4">
  <h1>Add New Promo</h1>
  
  <%= render 'form', promo: @promo %>
  
  <div class="mt-3">
    <%= link_to "â† Back to Promos", admin_promos_path, class: "btn btn-secondary" %>
  </div>
</div>
